body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgrey;
}

#nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#nav-links li {
    margin-left: 20px;
}

#nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#nav-link a:hover {
    color: #ff9800;
}

#logo {
    height: 100px;
}